*
{
    padding:0px;
    margin:0px;
    color:#FFFCF9;
    letter-spacing:3px;
    box-sizing: border-box;
}
html, body
{
    width:100%;
}

body
{
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

.header-top
{
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px 10%;
    position: fixed;
}

.dark{
    background-color:rgba(0, 0, 0, 0.8);
    color:#07C592;
}

.light{
    background-color:white;
    color: rgba(0, 0, 0, 0.8);
}

span{
    color:#07C592;
}

a {
    padding: 10px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}


@media only screen and (max-width:480px) {
    .body {
        padding: 2px 5%;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .nav-top {
        display: none;
    }
}
@media only screen and (min-width: 481px){
    .nav-top{
        display:none;
    }
    .header-top svg:hover{
        border:2px solid #07C592;
    }
}

@media only screen and (min-width: 1024px){
    .nav-top {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            flex: 9;
        }
    .header-top svg {
        display:none;
    }
    .nav-top a:link {
        color: #07C592;
        text-decoration: none;
    }

    .nav-top a:visited {
        color: #F45B69;
        text-decoration: none;
    }

    .nav-top a:hover {
        letter-spacing: 0.25em;
        background-color: #F45B69;
        color: #FFFCF9;
        box-shadow: 5px 5px 5px #07C592, -5px -5px 5px #07C592;
    }

    .nav-top a:active {
        color: #1B3022;
        text-decoration: underline;
    }
}

